<header class="container p-2">
        <div class="d-flex flex-column justify-content-center mt-5">
            <div class="text-center text-md-left mb-2 mb-md-0">
                <span><strong>09 86 52 33 33</strong></span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="card">
                    <div class="content-card">
                        <a class="navbar-brand mx-auto" href="{{ path('app_main') }}">
                            <img src="{{ asset('assets/images/logo/logoblanc.png') }}" alt="Logo Jupe Réversible PACAP" id="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<nav class="navbar-expand-md text-center">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <ul class="navbar-nav">
            <li class="nav-item" itemprop="url">
                <a class="nav-link linkCat {% if app.request.pathInfo == '/' %}active{% endif %}" href="/" itemprop="name">Accueil</a>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link linkCat {% if app.request.pathInfo == '/tissus' %}active{% endif %}" href="/tissus" itemprop="name">Nos Tissus</a>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link linkCat" href="https://pacap-diffusion.com/" itemprop="name">Grossiste</a>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link linkCat {% if app.request.pathInfo == '/contact' %}active{% endif %}" href="/contact" itemprop="name">Contact</a>
            </li>
            <li class="nav-item dropdown" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <a class="nav-link dropdown-toggle dropCat {% if app.request.pathInfo == '/catalogue' %}active{% endif %}" href="/catalogue" aria-haspopup="true" aria-expanded="false" itemprop="name">
                    Catalogue
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item linkCat {% if app.request.pathInfo == '/catalogue/homme' %}active{% endif %}" href="/catalogue/homme" itemprop="url">
                        <span itemprop="name">Homme</span>
                    </a>
                    <a class="dropdown-item linkCat {% if app.request.pathInfo == '/catalogue/femme' %}active{% endif %}" href="/catalogue/femme" itemprop="url">
                        <span itemprop="name">Femme</span>
                    </a>
                    <a class="dropdown-item linkCat {% if app.request.pathInfo == '/catalogue/grandeTaille' %}active{% endif %}" href="/catalogue/grandeTaille" itemprop="url">
                        <span itemprop="name">Taille Gourmande</span>
                    </a>
                    <a class="dropdown-item linkCat {% if app.request.pathInfo == '/catalogue/enfant' %}active{% endif %}" href="/catalogue/enfant" itemprop="url">
                        <span itemprop="name">Enfant</span>
                    </a>
                    <a class="dropdown-item linkCat {% if app.request.pathInfo == '/catalogue/bijoux' %}active{% endif %}" href="/catalogue/bijoux" itemprop="url">
                        <span itemprop="name">Bijoux</span>
                    </a>
                    <a class="dropdown-item linkCat {% if app.request.pathInfo == '/catalogue/accessoires' %}active{% endif %}" href="/catalogue/accessoires" itemprop="url">
                        <span itemprop="name">Accessoires</span>
                    </a>
                </div>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link linkCat" href="https://pacap-detail.fr/fr/" itemprop="name">Boutique en ligne</a>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link linkCat {% if app.request.pathInfo == '/Qui_sommes_nous' %}active{% endif %}" href="/Qui_sommes_nous" itemprop="name">À propos</a>
            </li>
        </ul>
    </div>
    </div>
</nav>