{% extends 'base.html.twig' %}
{% block meta_description %}Découvrez le parcours de la marque PACAP depuis ses débuts. De l'évolution du nom de l'entreprise à la conception du tout premier vêtement ethnique PACAP, en passant par notre rôle de grossiste situé dans le sud de la France, plongez dans l'histoire qui a façonné notre identité et notre engagement envers la qualité et l'originalité.{% endblock %}
{% block meta_keywords %}boutique vetement ethnique, boutique boheme en ligne, boutique de chemise, boutique de jupe, boutique grossiste france, jupe portefeuille, jupe reversible, jupe imprimée, chemise originale, chemise imprimée, chemise vintage, chemise fantaisie{% endblock %}

{% block title %}Jupe Réversible | Qui sommes-nous ?{% endblock %}

{% block body %}{% apply spaceless %}
<main class="py-4">
        <div class="container mt-5">
            <div class="about-container">
                <p class="about-paragraph">À propos de nous</p>
                <h1 class="highlight">POUR TOUS LES ÂGES, TOUS LES STYLES ET TOUTES LES TAILLES... CAP ou PACAP ?</h1>
            </div>
            <h4 class="title mt-5">Où sommes-nous ?</h4>
            <p>Nous sommes à Aubagne en Provence (13400) France, commune de la Paix, et plus précisément sur les
                sentiers de Pagnol.</p>
            <h3 class="title mt-5">Notre philosophie</h3>
            <p><span class="highlight">PACAP</span>, marque française engagée de vêtements ethniques basée à
                Aubagne, a fait le choix de se rendre deux fois par an sur place dans les ateliers en Inde pour
                plusieurs raisons :</p>
            <ul class="list-unstyled">
                <li class="my-3 mx-3 decoNon"> - S’assurer que le <span class="highlight">droit du travail ne soit pas
                        bafoué</span> et que le commerce ne soit pas synonyme d’exploitation.</li>
                <li class="my-3 mx-3 "> - Sensibiliser nos partenaires artisans aux modes de <span class="highlight">production
                        respectueuses de l’environnement</span> et conditions
                    optimales.</li>
                <li class="my-3 mx-3 "> - Une <span class="highlight">prime en fin d’année</span> est reversée aux
                    familles.</li>
                <li class="my-5">Nos buts sont également d’offrir aux consommateurs des produits originaux <span
                        class="highlight">fabriqués par des artisans locaux et sur place</span>.</li>
                <li class="my-3">Nous priorisons l’ajustement des prix afin de maintenir un salaire correct pour
                    les artisans et nous programmons annuellement afin d’éviter le <span class="highlight">travail
                        précaire de nos artisans</span>.</li>
                <li class="my-5">Tous les <span class="highlight">vêtements ethniques et chics</span> revendus
                    par PACAP arrivent en France sans aucun intermédiaire !</li>
                <li class="my-3">Nous <span class="highlight">priorisons les secteurs</span> avec un minimum de
                    commande pour éviter les doublons sur vos lieux de vente.</li>
                <li class="my-5">Toutes les <span class="highlight">ventes</span> faites par les revendeurs de
                    notre marque <span class="highlight">sont garanties</span>. Nous assurons le service
                    après-vente. Vous rencontrez un souci après votre achat, que ce soit sur un marché ou en
                    boutique, vous pouvez <span class="highlight">nous contacter par mail ou par
                        téléphone</span>. Nous vous redirigerons vers d’autres points de revente qui vous
                    seront proches. Si ce n’est pas le cas, nos bureaux trouveront avec vous <span class="highlight">la
                        meilleure solution pour vous satisfaire</span>.</li>
                <li><strong>99% des clients qui ont acheté PACAP sont satisfaits de leurs acquisitions et
                        reviennent bien souvent accompagnés.</strong></li>
            </ul>
        </div>
    </main>
    {% endapply %}
{% endblock %}
