{% extends 'base.html.twig' %}

{% block title %}JupeReversible | Acceuil{% endblock %}

{% block body %}
<main class="py-4 mt-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-5">
                    <div class="img-container">
                        <img src="{{ asset('assets/images/acceuil/jupe-reversible-coton-grossiste-vetements-femme-jupe-portefeuille-boutonnée-femme-taille-unique-ceinture-pression 400x270.jpg') }}" alt="Jupe coton réversible" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center justify-content-center">
                    <div>
                        <p class="font-weight-bold titre mt-5">ACCÈS DIRECT À LA BOUTIQUE EN LIGNE</p>
                        <button class="btn mb-5"><a href="https://pacap-detail.fr/" class="text-white">BOUTIQUE</a></button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-container">
                        <img src="{{ asset('assets/images/acceuil/jupe-reversible-zippée-grossiste-vetements-femme-jupe-portefeuille-boutonnée-femme-sacoche-pochette-ceinture-pression 400x270.jpg') }}" alt="jupe réversible" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h3 class="text-center titreIndex">JUPE RÉVERSIBLE PACAP ET RÉGLABLE AVEC SES BOUTONS-PRESSION.</h3>
            <ul class="list-unstyled mt-3 text-center">
                <li class="my-5"><strong><span class="highlight">POUR TOUS LES ÂGES</span> :</strong> <br>De 4 à 99 ans, car nous vous proposons plusieurs longueurs.
                </li>
                <li class="my-5"><strong><span class="highlight">POUR TOUS LES STYLES </span>:</strong> <br> Nos imprimés se déclinent à l'infini : ethnique, camaïeu,
                    vintage, original, classique...</li>
                <li class="my-5"><strong><span class="highlight">POUR TOUTES LES TAILLES </span>:</strong> <br> 3 modèles différents. La première pour nos filles, une seule jupe, qui est réglable de 4 ans à 14 ans. La seconde pour les femmes, elle s’ajustera très facilement du 34 au 46, grâce à ses boutons-pression inoxydables sur la ceinture. Et la troisième, pour nos femmes enceintes en mode grossesse ou pour femmes rondes et fortes, réglable du 44 au 56.</li>
                <li class="my-5"><strong><span class="highlight">POUR TOUTES LES SAISONS </span>:</strong> <br> Été comme hiver, nous vous la proposons en coton, jean, rayonne, velours, brodé, lycra.</li>
                <li class="my-5"><strong><span class="highlight">POUR TOUTES LES BOURSES </span>:</strong> <br> Que ce soit d’Amiens à Biarritz ou Nice en passant par Mulhouse, Europe, Antilles ou en faisant une escale à Tahiti, vous la trouverez quasiment au même prix. Et que ce soit chez nos distributeurs, boutiques, marchés, foires, ou en boutique en ligne, car nous avons le plaisir de travailler dans le cadre du commerce équitable pour que chacun y trouve son compte à sa juste valeur.</li>
            </ul>
        </div>
    </main>
{% endblock %}
