{% extends 'base.html.twig' %}

{% block title %}Jupe Réversible | Homme{% endblock %}

{% block body %}
<main class="py-4 mt-5 container">
        <h1 class="text-center highlight mb-5">CATALOGUE HOMME</h1>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="Chemise homme" class="img-fluid img-container"
                         src="{{ asset('assets/images/catégories/homme/chemise.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">CHEMISE HOMME</h2>
                    <p class="my-4">Vous cherchez une chemise homme aux motifs originaux, atypiques et colorés ? Vous êtes au bon endroit ! Nous vous proposons plus de 1500 chemises imprimées : à fleurs pour partir en vacances en toute tranquillité, fantaisies pour que vous puissiez exprimer votre personnalité, et classiques pour vos tenues formelles ou professionnelles.</p>
                    <a href="https://pacap-detail.fr/fr/566-chemise-homme-imprime-marque-francaise" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right">
                    <img alt="Kilt homme" class="img-fluid img-container"
                         src="{{ asset('assets/images/catégories/homme/kilt.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">KILT HOMME</h2>
                    <p class="my-4">Le kilt, vêtement traditionnel écossais. Nous vous proposons deux versions plus modernes du kilt Tartan. Plus utilitaire, unicolore, une taille unique ajustable, des passants larges pour toute taille de ceinture et sporrans, des boutons-pressions en métal de différentes couleurs : noir, argenté, gravure Pacap. Choisissez parmi nos deux modèles de kilt la couleur de votre choix : kilt rouge, kilt vert, kilt jaune, kilt bleu, kilt noir et kilt bordeaux.</p>
                    <a href="https://pacap-detail.fr/fr/1736-kilt-moderne-utilitaire-jupe-unicolore-homme-portefeuille-taille-unique-ajustable" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
