{% extends 'base.html.twig' %}

{% block title %}Jupe Réversible | Tissus{% endblock %}

{% block body %}
<main class="py-5 text-center">
        <div class="container py-5">
            <div>
                <h3 class="titreIndex my-5">LA MARQUE PACAP, C'EST + DE 10 000 IMPRIMÉS À L’ANNÉE.</h3>
                <div class="justify-content-center">
                    <div>
                        <img src="{{ asset('assets/images/tissus/tissus.png') }}" alt="tissus" class="img-fluid" width="600">
                    </div>
                </div>
                <p class="my-5">Vous souhaitez un vêtement avec son imprimé unique ou en série très limitée?

                    Nous l’avons bien compris et notre marque, PACAP, vous y répond.

                    Nos imprimés sont renouvelés tout au long de l’année pour vous proposer essentiellement du prêt-à-porter plaisant et agréable à porter.

                    Également des modèles en séries limitées.

                    Vous y trouverez tous les styles : vintage, rétro, psychédélique ou vortex, Hawaï, ethnique,
                    manouche, gipsy, géométrique ou floral, rock’n roll ou ska, jazzy, hippie ou bobo voire baba,
                    glamour ou liberty, fashion ou classique, noir et blanc ainsi que plein de couleurs (rouge, orange,
                    violet, vert, bleu, rose,…).

                    Nos tissus : coton, voile de coton, rayonne, soie synthétique, jean, velours, stretch, lycra,
                    lin, broderie, georgette,…

                </p>
            </div>
        </div>
        <div class="content-wrapper">
            <div>
                <button class="btn"><a href="https://pacap-detail.fr/" class="text-white">BOUTIQUE</a></button>
            </div>
        </div>
    </main>
{% endblock %}
