{% extends 'base.html.twig' %}
{% block meta_description %}Vêtement Ethnique Chic et Moderne Pas Cher Femme FORTE Ronde FEMME ENCEINTE Taille Unique JUPE RÉVERSIBLE PORTEFEUILLE Nbreux MOTIFS et IMPRIMÉS{% endblock %}
{% block meta_keywords %}vêtement femme forte, vêtement femme ronde, vêtement femme enceinte, vêtement femme gourmande{% endblock %}

{% block title %}Jupe Réversible | Grande Taille{% endblock %}

{% block body %}
<main class="py-4 mt-5 container">
        <h1 class="text-center highlight mb-5">CATALOGUE TAILLE GOURMANDE</h1>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="Jupe grande taille" class="img-fluid img-container"
                         src="{{ asset('assets/images/catégories/grandeTaille/jupe-grande-taille.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">JUPE</h2>
                    <p class="my-4">Vente au détail et en gros en France. Jupe moyenne et longue portefeuille réversible grande taille pour femme forte et ronde. Nombreux motifs et imprimés. Taille unique.</p>
                    <a href="https://pacap-detail.fr/fr/1694-jupe-grande-taille-reversible" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right">
                    <img alt="Vêtements Grande Taille" class="img-fluid img-container"
                         src="{{ asset('assets/images/catégories/grandeTaille/vetement-grande-taille.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">AUTRE VÊTEMENT</h2>
                    <p class="my-4">Mode grande taille pour femme, vêtements ethniques grande taille. Découvrez une collection complète de vêtements grande taille : pantalons, robes, jupe portefeuille...</p>
                    <a href="https://pacap-detail.fr/fr/1723-Vetement-ethnique-femme-grande-taille" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        
    </main>
{% endblock %}
