{% extends 'base.html.twig' %}
{% block meta_description %}Vous pouvez nous contacter par téléphone ou par mail, que vous soyez un particulier ou un professionnel ! Nous restons disponibles pour les grossistes et ceux qui souhaitent devenir distributeurs.{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block title %}Jupe Réversible | Contact{% endblock %}

{% block body %}{% apply spaceless %}  
 <main class="py-4">
        <div class="text-center">
            <h1 class="mx-3" >VOUS AVEZ BESOIN DE NOUS CONTACTER :</h1>
            <h4 class="title mt-5"><strong>POUR LES PROS :</strong></h4>
            <p class="m-0">Vous souhaitez <a
                    href="https://vetement-grossiste-ethnique.pacap-detail.fr/fr/content/14-comment-acceder-au-catalogue-grossiste-pacap"
                    class="mail highlight">devenir distributeur</a>, c’est avec plaisir que nous vous répondrons.
                Secteur privilégié.</p>
            <div class="phone-container m-0">
                <span class="phone-pc  m-0">Nous téléphoner : <span class="highlight phone-pc">06 98 28 26 71
                        (Bruno)</span>
                <button class="btnMail mt-2 rounded"><a href="tel:+33698282671" class="text-white phone-mobile px-4 py-2"><strong>APPELEZ -
                            NOUS</strong></a></button>
            </div>
            <p>
                <button class="btnMail m-3 px-4 py-2 rounded"><a class="text-white "
                        href="mailto:contact-pro@pacap-detail.fr"><strong>ECRIVEZ - NOUS</strong></a></button>
                <br>
                Découvrez d’autres produits de la marque PACAP
            </p>
            <button class="btn mb-5 mt-3"><a href="https://vetement-grossiste-ethnique.pacap-detail.fr/fr/"
                    class="text-white">ESPACE PRO</a></button>
        </div>

        <div class="text-center my-5">
            <h4 class="title"><strong>POUR LES PARTICULIERS :</strong></h4>
            <p class="m-0">Vous nous avez connus par le biais d’un point de revente, un ami, et vous souhaitez nous
                contacter pour
                différentes questions ?
            <div class="phone-container m-0">
                <span class="phone-pc m-0">Nous téléphoner : <span class="highlight phone-pc">09 86 52 33
                        33</span></span>
                <button class="btnMail mt-2 rounded"><a href="tel:+33986523333" class="text-white phone-mobile px-4 py-2"><strong>APPELEZ
                            - NOUS</strong></a></button>
            </div>
            <button class="btnMail m-3 px-4 py-2 rounded"><a class="text-white"
                    href="mailto:service-client@pacap-detail.fr"><strong>ECRIVEZ - NOUS</strong></a></button><br>

            Vous souhaitez accéder à notre boutique en ligne et découvrir d’autres produits de la marque PACAP</p>
            <button class="btn mb-5 mt-3"><a href="https://pacap-detail.fr/fr/" class="text-white">BOUTIQUE EN LIGNE</a></button>
        </div>
    </main>
    {% endapply %}
{% endblock %}
