{% extends 'base.html.twig' %}

{% block title %}Jupe Réversible | Bijoux{% endblock %}

{% block body %}
<main class="py-4 mt-5 container">
        <h1 class="text-center highlight mb-5">BIJOUX</h1>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="boucles d'oreilles" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/bijoux/boucle-Orreille.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">BOUCLES D'OREILLES</h2>
                    <p class="my-4">Découvrez notre collection d'accessoires. Des boucles d'oreilles femme à motifs ethniques. Artisanat indien garanti. Les boucles d'oreilles argentées et dorées, le bijou idéal pour vos soirées. Des centaines de boucles d'oreilles femme à moins de 10 euros !</p>
                    <a href="https://pacap-detail.fr/fr/1528-boucles-doreilles" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right">
                    <img alt="bracelet jonc" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/bijoux/bracelet-jonc.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">BRACELET JONC</h2>
                    <p class="my-4">Nos bracelets joncs ethniques dorés, argentés, semi-ouverts, fins ou plus larges, simples ou accompagnés de pierres fines de grande qualité.</p>
                    <a href="https://pacap-detail.fr/fr/1735-bracelet-jonc-or-argent-taille-ajustable" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="accessoire" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/bijoux/BAGUE.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">AUTRE</h2>
                    <p class="my-4">Collection d'accessoires avec des bagues et boucles d'oreilles ethniques, housses de coussin et coffrets en bois de qualité.</p>
                    <a href="https://pacap-detail.fr/fr/1737-deco-co" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
